{% extends 'staff/staffbase.html' %}
{% block content %}
{% load static %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div id="timer" class="text-center">
  <div class="alert alert-info" role="alert">
    <strong>Remaining Time:</strong> <span id="remainingTime"></span>
  </div>
</div>


<div class="jumbotron my-4">
  <form id="quizForm" class="form" autocomplete="off" action="/staff/calculate-marks" method="POST">
    {% csrf_token %}
    <h1 style="text-align: center;">{{ course.course_name }}</h1>
    <div class="question-container">
      {% for q in questions %}
      <div class="question {% if forloop.first %}active{% else %}hidden{% endif %}" data-qid="{{ forloop.counter }}">
        <h3 class="text-info">{{ forloop.counter }}. {{ q.question }}</h3>
        <h4 style="text-align: right;">[Marks {{ q.marks }}]</h4>

        <input type="hidden" name="selected_answer_{{ q.id }}" id="selected_answer_{{ q.id }}" value="">

        <div class="form-check mx-4">
          <input class="form-check-input" type="radio" name="selected_answer_{{ q.id }}" id="option1_{{ q.id }}"
            value="Option1">
          <label class="form-check-label" for="option1_{{ q.id }}">{{ q.option1 }}</label>
        </div>

        <div class="form-check mx-4">
          <input class="form-check-input" type="radio" name="selected_answer_{{ q.id }}" id="option2_{{ q.id }}"
            value="Option2">
          <label class="form-check-label" for="option2_{{ q.id }}">{{ q.option2 }}</label>
        </div>

        <div class="form-check mx-4">
          <input class="form-check-input" type="radio" name="selected_answer_{{ q.id }}" id="option3_{{ q.id }}"
            value="Option3">
          <label class="form-check-label" for="option3_{{ q.id }}">{{ q.option3 }}</label>
        </div>

        <div class="form-check mx-4">
          <input class="form-check-input" type="radio" name="selected_answer_{{ q.id }}" id="option4_{{ q.id }}"
            value="Option4">
          <label class="form-check-label" for="option4_{{ q.id }}">{{ q.option4 }}</label>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="text-center">
      <button type="button" id="nextBtn" class="btn btn-info btn-lg">Next</button>
      <button type="submit" id="submitBtn" class="btn btn-success btn-lg hidden">Submit</button>
    </div>
  </form>
</div>

<script>
  $(document).ready(function() {
    var remainingTime;
    var currentQuestion = 1;
    var totalQuestions = {{ questions|length }};
    var course_id = {{  course.id }};
    var timerInterval;
  
    function formatTime(minutes) {
      var hours = Math.floor(minutes / 60);
      var remainingMinutes = minutes % 60;
  
      var formattedTime = hours.toString().padStart(2, '0') + ':' +
                          remainingMinutes.toString().padStart(2, '0');
  
      return formattedTime;
    }
  
    function checkTimer() {
      $.ajax({
        url: '/check-timer/' + course_id,
        type: 'GET',
        success: function(response) {
          if (response.time_up) {
            $('#quizForm').submit();
            clearInterval(timerInterval);
          } else {
            remainingTime = response.remaining_time;
            $('#remainingTime').text(formatTime(remainingTime));
          }
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    }
  
    timerInterval = setInterval(checkTimer, 1000);
  
    function showNextQuestion() {
      var currentQuestionDiv = $('.question.active');
      var selectedAnswer = currentQuestionDiv.find('input[type="radio"]:checked').val();
      var currentQuestionId = currentQuestionDiv.data('qid');
      
      if (selectedAnswer === undefined) {
          alert('Please select an answer before proceeding.');
          return;
      }
      
      // Store selected answer in session
      $('#selected_answer_' + currentQuestionId).val(selectedAnswer);
  
      currentQuestionDiv.removeClass('active').addClass('hidden');
  
      currentQuestion++;
      if (currentQuestion >= totalQuestions) {
          var nextQuestionDiv = $('.question[data-qid="' + currentQuestion + '"]');
          nextQuestionDiv.removeClass('hidden').addClass('active');
          $('#nextBtn').addClass('hidden');
          $('#submitBtn').removeClass('hidden');
      } else {
          var nextQuestionDiv = $('.question[data-qid="' + currentQuestion + '"]');
          nextQuestionDiv.removeClass('hidden').addClass('active');
      }
    }
    
    $('#nextBtn').click(showNextQuestion);
  });
</script>

<br><br><br><br><br><br>
{% endblock content %}
